# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ament stuff
ament*
CTest*

# Cmake stuff
*.cmake
*CMakeCache.txt
*CMakeFiles
Makefile

# The Executable
pcd_merge

#Other stuff in directory
rosbags
split_results
*.vscode*
